.box{display: flex; flex-direction: row; gap: 10px;}

.icon{width: 100px;
height: 100px; display: flex; flex-direction: row;  
justify-content: center;align-items: center; 
border-radius: 9999px; background-color: skyblue;}

.sky{background-color: skyblue;}

.sky:hover {background-color: red; transition: all 0.3s;}

.black:hover{background-color: yellow; transition: all 0.3s;}

.icon > i {font-size: 30px; color: white;}

.black{background-color: black;}


