.lunch{
color: #778beb;
font-size: 30px;


}
.dinner{

color: #f5cd79;
font-size: 20px;

}

.dessert{
color: #f8a5c2;
font-size: 10px;


}

.talk{
    background-color: yellow;
    color: brown;
    
    
    }
    
    .cat{
    background-color: #f5cd79;
    color: #303952;
    
    
    }
