.mmm {
  width: 100px;
  height: 100px;
  border: 2px solid purple;
  border-radius: 9999px;
  padding: 2px;
}

.mmm > img {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
}
.www {
  width: 100px;
  height: 100px;
  border: 2px solid purple;
  border-radius: 9999px;
  padding: 2px;
}

.www > img {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
}
