.ediya {
  background-color: #2a47bf;
  color: white;
  width: 440px;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
}

.Klog {
  background-color: #fee500;
  color: #391b1b;
  width: 440px;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
}

.Llog {
  background-color: #03c75a;
  color: white;
  width: 440px;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
}

.star{
background-color: #006633;
color: white;
font-size: 24px;
line-height: 65px;
display: block;
border-radius: 3px;
text-align: center;
max-width: 570px;
margin: 0 20px;
min-width: 320px; 
overflow-x: hidden; 
font-weight: 500;
padding: 9px;
}

.BB{
background-color: green;
color: white;
width: 120px;
  padding: 12px;
  border-radius: 7px;
  font-size: 27px;
  font-weight: 120;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
}
.Bc{
    background-color:#d1d8e0;
    color: #596275;
    width: 120px;
      padding: 12px;
      border-radius: 7px;
      font-size: 20px;
      font-weight: 120;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
    }




}



